[Desktop Entry]
Type=Application
Name=aleappGUI
Exec=aleappGUI
Icon=aleapp
Categories=Android;
Comment=GUI for Android Logs, Events, and Protobuf Parser

