[Desktop Entry]
Name=Androguard GUI
Comment=Androguard GUI
Exec=androgui.py
Icon=android-studio
Terminal=false
Type=Application
Categories=Android;Analysis;
